### What is a database? Differentiate between SQL and NoSQL databases.

SQL is the programming language used to interface with relational databases. (Relational databases model data as records in rows and tables with logical links between them). NoSQL is a class of DBMs that are non-relational and generally do not use SQL.

1.Languaue:

SQL-Safe and versatile, it’s particularly well suited for complex queries.SQL restricts the user to working within a predefined tabular schema, and more care must be taken to organize and understand the data before it is used.

NOSQL-There is less emphasis on planning, greater freedom when adding new attributes or fields, and the possibility of varied syntax across databases. As a group, however, NoSQL languages lack the standard interface which SQL provides, so more complex queries can be difficult to execute.


2.sacalability:

Most SQL databases can be scaled vertically, by increasing the processing power of existing hardware. NoSQL databases use a master-slave architecture which scales better horizontally, with additional servers or nodes

3.structure:

SQL database schemata always represent relational, tabular data, with rules about consistency and integrity. They contain tables with columns (attributes) and rows (records), and keys have constrained logical relationships.


NoSQL databases need not stick to this format,column oriented,key-value ,Document,Graph.


4.Properties

SQL-ACID
NoSQL-CAP

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.

1.CREATE

CREATE TABLENAME table_name

(
C1 INT,
C2 VARCHAR(40),
C3 Float,

    
)


2.ALTER
 used to add ,delter or change columns in the existing table.
 
 
 ALTER TABLE table_name
 ADD column_name INT
 
 
 
 
 3.TRUNCATE
 
 used to remove all rows  from table ,but the structure of the table exists.
 
 TRUNCATE TABLE table_name
 
 
 4.DROP
 
 remove an existing table along with its structure from database.
 
 DROP TABLE table_name
.

###  What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. Tables and formulas are helpful when communicating with data stored up to a point in a database through SQL, but a time comes when we actually want to execute some fairly complicated data interactions. We will also need the Data Manipulation Language in that situation. DML is a way to inform a database precisely what we want it to do by conversing in a manner that it has been built to comprehend from the scratch. When it comes to interacting within existing data, whether adding, moving, or deleting data, it provides a convenient way to do so.

INSERT---

command used to enter information or values into a row.

INSERT INTO students('stu_id' int, 'stu_name' varchar(20),'city' varchar(20))

VALUES ('1','Krishna','KP')


UPDATE---

COMMAND IS USED TO ALTER EXISTING TABLE RECORD.within a table it modifies data from one or more records.

UPDATE students

SET due_fees=10000
WHERE stu_name='Mini'


DELETE 

it deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.

DELETE FROM students
WHERE stu_id='001'

###  What is DQL? Explain SELECT with an example.

An SQL SELECT statement retrieves records from a database table according to clauses (for example, FROM and WHERE) that specify criteria


SELECT c1, c2 FROM student_table1, student_table2 WHERE c2='value'; 

SELECT clause specifies one or more columns to be retrieved; to specify multiple columns, use a comma and a space between column names

The FROM clause specifies one or more tables to be queried. Use a comma and space between table names when specifying multiple tables.

The WHERE clause selects only the rows in which the specified column contains the specified value. The value is enclosed in single quotes (for example, WHERE last_name='Vader').

###  Explain Primary Key and Foreign Key.

Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

### Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb=mysql.connector.connect(
host="localhost",
user="abc",
password="password"

)

print(mydb)
mycursor=mydb.cursor()
mycursor.execute('SHOW DATABASES')

for x in mycursor:
    print(x)

CURSOR

A cursor is an object which helps to execute the query and fetch the records from the database. The cursor plays a very important role in executing the query.t is an object that is used to make the connection for executing SQL queries

execute()

This method accepts a MySQL query as a parameter and executes the given query

###  Give the order of execution of SQL clauses in an SQL query.

FROM clause
ON clause
OUTER clause
WHERE clause
GROUP BY clause
HAVING clause
SELECT clause
DISTINCT clause
ORDER BY clause
TOP clause