### 1. What are the characteristics of the tuples? Is tuple immutable?

1.Tuples are ordered
2.indexed collections of data.
3.Tuples allows duplicates
4.Tuples are immutable
5.unchangeable

### 2.What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

There are only two tuple methods count() and index() that a tuple object can call.
1.count()

eg.
t1=(1,2,3,4,56,"mine")
t1.count(2)


ans-1

return the number of occurances of teh valure in the tuple

2.index()

eg
t1=(1,2,3,4,56,2,3,3,4,"mine")
t1.index(3)

ans- 2
returns the first index of the value in the tuble


Tuples are immutable compared to list. thats the reason why tuples have only two in built methods

In [13]:
t1=(1,2,3,4,56,2,3,3,4,"mine")

In [14]:
t1.count(2)

2

In [15]:
t1.index(2)
t1.index(3)

2

### 3.Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.
### List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

Set datatypes in python do not allow duplicates.

l=[1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
s1=set(l)
s1

In [18]:
l=[1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
s1=set(l)
s1

{1, 2, 3, 4}

### 4.Explain the difference between the union() and update() methods for a set. Give an example of each method.

In [19]:
s1

{1, 2, 3, 4}

In [21]:
s2={3,4,5,6,"krishna"}

In [22]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 'krishna'}

In [23]:
s1.update(s2)

In [24]:
s1

{1, 2, 3, 4, 5, 6, 'krishna'}

Diffrence btw union and update union (s1.union(s2)) gives the union of s1 and s2 whereas s1.update(s2) just update the values of s2 with s1

In [25]:
s2={1,2,3,4,5,6,2,3,1,2,3,4,"kp","kp"}
s3={3,7,8,9,1,"my","kp"}

In [30]:
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'kp', 'my'}

In [31]:
s3

{1, 3, 7, 8, 9, 'kp', 'my'}

In [32]:
s2.union(s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'kp', 'my'}

In [33]:
s2.update(s3)

In [34]:
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'kp', 'my'}

### 5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

Dictionary is a data structure that allows to store data in key value pairs, where key is the unique identifier and value is the value assigned to that key

Dictionary is unordered data structure,means it does store data in specific order

In [38]:
# eg

D={"name":"kp","age":1,"DOB":1990,"place":"America"}

### 6.Can we create a nested dictionary? If so, please give an example by creating a simple one-levelnested dictionary.

yes we can create nested dictionary

In [40]:
D1={"p1":{"name":"kp","age":2,"email":"hnj"},"p2":{"name":"krish","age":4,"gmail":"kj"}}

In [41]:
D1

{'p1': {'name': 'kp', 'age': 2, 'email': 'hnj'},
 'p2': {'name': 'krish', 'age': 4, 'gmail': 'kj'}}

### 7.Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']

In [50]:
D2={'language' : 'Python', 'course': 'Data Science Masters'}
D2.setdefault("topic",["Python", "Machine Learning", "Deep Learning"])

['Python', 'Machine Learning', 'Deep Learning']

In [51]:
D2

{'language': 'Python',
 'course': 'Data Science Masters',
 'topic': ['Python', 'Machine Learning', 'Deep Learning']}

### 8.What are the three view objects in dictionaries? Use the three in-built methods in python to displaythese three view objects for the given dictionary.
### dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

1. dict.keys()
2. dict.value()
3. dict.item()

In [ ]:
D3=[]