write a program to accept percentage from the user and display the grade according to the following criteria:

### >=90--A 
### >80 and <=90--B
### >=60 and <=80 --c
### below 60 D

In [5]:
percentage=int(input("enter the percentage:"))

if percentage>=90:
    print("A")
elif 80<percentage<=90:
    print("B")
elif 60<=percentage<=80:
    print("C")
else:
    print("D")

enter the percentage: 80

C

Write a program to accept the cost price of a bike and display the tax to be paid according to the folllowing criteria

### 15%------->100000
### 10%------->50000 and <=100000
### 5%--------<=50000

In [ ]:
cst_of_bike=int(input("enter cost price of the bike:"))
if cst_of_bike<=50000:
    print ("road tax:" ,cst_of_bike*0.05)
elif 50000<cst_of_bike<=100000:
    print("road tax:",cst_of_bike*0.1)
else :
    print("road tax:",cst_of_bike*.15)

Accept any city from the user and display monuments of that city.

### Delhi---Redfort
### Agra----TajMahal
### Jaipur--Jal Mahal

In [21]:
city=str(input("Enter the city name"))

if city=="Delhi" :
    print("Monument of the Delhi: Redfort")
elif city=="Agra":
    print("Monument of the Agra: TajMahal")
elif city=="Jaipur":
    print("Monument of Jaipur: Jal Mahal")

Enter the city name Jaipur

Monument of Jaipur: Jal Mahal

4.Check how many times agiven number can be divided be 3 before it is less than or equal to 10

In [27]:
count=0
num=int(input("enter the no."))
while (num/3)>10:
    count+=1
    num=(num/3)
    
print(count)

enter the no. 9000

6

#### 5.Why and when to use while loop in python give a detailed description with example?

##### while loop is used to run a block code until certain condition is met.

##### while loop evaluated the condition and if the condition appears to be true. it runs the code inside the loop until the condition is not true

#### For Eg:
### i=3

### while 0<i<5:
###    print(i)
###    i-=1

##### point to note: provide condition such that it doest go to an infinite loop

6.Nested while loop to print 3 different pattern

In [1]:
rw=6
i=0
while i<(rw+1):
    j=0
    while j<i:
        print("*",end="")
        j+=1
    print("\r")
    i+=1

*
**
***
****
*****
******

In [2]:
rw=6
i=rw
while 0<i<=rw:
    j=i
    while 0<j<=i:
        print("*",end="")
        j-=1
    print("\r")
    i-=1

******
*****
****
***
**
*

In [3]:
rw=6
i=rw
while 0<i<=rw:
    j=i
    while 0<j<=i:
        print(j,end="")
        j-=1
    print("\r")
    i-=1

654321
54321
4321
321
21
1

7. Reverse a while loop to display numbers from 10 t0 1

In [37]:
i=10
while 0<i<=10:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1